.df {
    display: flex !important;
}
.dif {
    display: inline-flex !important;
}
.aic {
    align-items: center !important;
}
.jsb {
    justify-content: space-between !important;
}
.je {
    justify-content: flex-end !important;
}
.fdc {
    flex-direction: column !important;
}
.jcc {
    justify-content: center !important;
}
.fw {
    flex-wrap: wrap;
}
.f1 {
    flex: 1 !important;
    overflow: hidden !important;
}
.h-100 {
    height: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.m-p-0 {
    margin: 0 !important;
    padding: 0 !important;
}
.m-r {
    margin-right: 20px !important;
}
.tac {
    text-align: center !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-r-l-20 {
    margin-right: 20px !important;
    margin-left: 20px !important;
}
